# Dependencies
backend/node_modules/
node_modules/

# Environment variables
backend/.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE files
.idea/
.vscode/
*.swp
*.swo
